<!-- RESUME PAGE -->
<div id="resume" class="rm-back page">

    <!-- .antiscroll-wrap -->
    <div class="antiscroll-wrap">
        <!-- .antiscroll-inner -->
        <div class="antiscroll-inner">

            <!-- CONTENT -->
            <div class="content">


                <h2><span>HỒ SƠ CÁ NHÂN</span></h2>

                <h4 class="about-text">I am a <span class="label">theoretical physicist</span> developed the general theory of relativity, effecting a revolution in physics.</h4>

                <h3><span>LÀM VIỆC</span></h3>

                <!-- EMPLOYMENT -->
                <div class="history-group">

                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2015 - Nay</h4>

                        <div class="work-desc">

                            <h4>Công ty CP thiết bị điện - điện tử Bách Khoa.</h4>
                            <h5>Lập trình viên.</h5>
                            <p>Lập trình website cho hệ thống định vị xe. </p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2014 - 2015</h4>

                        <div class="work-desc">

                            <h4>Công ty CP công nghiệp lạnh Nam Phú Thái</h4>
                            <h5>Thực tập </h5>
                            <p>Thiết kế website Wordpress cho các dự án của công ty. Website: www.namphuthai.vn</p>

                        </div>

                    </div>
                    <!-- .history-unit -->


                </div>
                <!-- EMPLOYMENT -->



                <h3><span>HỌC TẬP</span></h3>

                <!-- EDUCATION -->
                <div class="history-group">
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2011 - 2014</h4>

                        <div class="work-desc">

                            <h4>Trung tâm lập trình viên FPT Aptech</h4>
                            <p>Học tại FPT-Aptech</p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2010 - 2015</h4>

                        <div class="work-desc">

                            <h4>Đại học Thủy Lợi</h4>
                            <h5>Chuyên ngành Công Nghệ Thông Tin</h5>
                            <p>Học Đại Học</p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2007 - 2010</h4>

                        <div class="work-desc">

                            <h4>Trung học phổ thông Lê Hồng Phong</h4>
                            @*<h5>MIT</h5>*@
                            <p>Học phổ thông</p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">2003 - 2007</h4>

                        <div class="work-desc">

                            <h4>Trung học cơ sở Trần Văn Ơn</h4>
                            <p>Học trung học</p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                    <!-- .history-unit -->
                    <div class="history-unit">

                        <h4 class="work-time">1998 - 2003</h4>

                        <div class="work-desc">

                            <h4>Tiểu học Trần Văn Ơn</h4>
                            <p>Học tiểu học</p>

                        </div>

                    </div>
                    <!-- .history-unit -->
                </div>
                <!-- EDUCATION -->

                <!-- DOWNLOAD BUTTON -->
                <div class="launch">
                    <a href="#" class="btn">TẢI CV</a>
                </div>
                <!-- DOWNLOAD BUTTON -->



                <h3><span>KỸ NĂNG CODE</span></h3>

                <!-- DEV SKILLS -->
                <div class="skill-group">

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>HTML5</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>CSS3</h4>
                        <div class="bar" data-percent="50">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>jQuery</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Wordpress</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                </div>
                <!-- DEV SKILLS -->


                <h3><span>KỸ NĂNG THIẾT KẾ</span></h3>

                <!-- DESIGN SKILLS -->
                <div class="skill-group">

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Fireworks</h4>
                        <div class="bar" data-percent="90">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Photoshop</h4>
                        <div class="bar" data-percent="60">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Illustrator</h4>
                        <div class="bar" data-percent="40">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                </div>
                <!-- DESIGN SKILLS -->




                <h3><span>TESTIMONIALS</span></h3>


                <!-- TESTIMONIALS -->
                <div class="testo-group">

                    <!-- Testimonial -->
                    <div class="testo">
                        <img src="~/Images/web/site/testo-01.jpg" alt="someone">
                        <div class="text">
                            <h4>Albert Einstein <span>CEO / Gravity Inc.</span></h4>
                            <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.</p>
                        </div>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testo">
                        <img src="~/Images/web/site/testo-02.jpg" alt="someone">
                        <div class="text">
                            <h4>Walter White <span>Chemist / Freelancer</span></h4>
                            <p>He was a great co-worker and a friend. I would't be where i am without his support.</p>
                        </div>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testo">
                        <img src="~/Images/web/site/testo-03.jpg" alt="someone">
                        <div class="text">
                            <h4>Dexter Morgan <span>Lab Geek / Miami Metro</span></h4>
                            <p>He is ok.</p>
                        </div>
                    </div>
                    <!-- Testimonial -->

                </div>
                <!-- TESTIMONIALS -->



                <h3><span>SERVICES</span></h3>

                <!-- SERVICES -->
                <div class="service-group">


                    <!-- service -->
                    <div class="service">
                        <i class="icon-laptop"></i>
                        <h4>Web Design</h4>
                        <p>I design super cool websites. It is a long established fact that a reader will be distracted by the readable content. </p>
                    </div>
                    <!-- service -->
                    <!-- service -->
                    <div class="service">
                        <i class="icon-tablet"></i>
                        <h4>Mobile Development</h4>
                        <p>I can develop iOS and Android apps. It is a long established fact that a reader will be distracted by the readable content. </p>
                    </div>
                    <!-- service -->
                    <!-- service -->
                    <div class="service">
                        <i class="icon-globe"></i>
                        <h4>Social Media</h4>
                        <p>I am a social media expert. It is a long established fact that a reader will be distracted by the readable content. </p>
                    </div>
                    <!-- service -->


                </div>
                <!-- SERVICES -->


            </div>
            <!-- CONTENT -->

        </div>
        <!-- .antiscroll-inner -->
    </div>
    <!-- .antiscroll-wrap -->


    <div class="rm-overlay"></div>
</div>
<!-- RESUME PAGE -->