@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Web_MasterPage.cshtml";
}

<section class="main">


    <!-- .rm-container -->
    <div id="rm-container" class="rm-container rm-closed">


        <!-- HEADER -->
        <header id="header">
            <!-- NAV MENU -->
            <nav>
                <ul>
                    <li><a href='#/home'></a></li>
                    <li><a href='#/resume'></a></li>
                    <li><a href='#/portfolio'></a></li>
                    <li><a href='#/contact'></a></li>
                </ul>
            </nav>
            <!-- NAV MENU -->

        </header>
        <!-- HEADER -->
        <!-- .rm-wrapper -->
        <div class="rm-wrapper">



            <!-- .rm-cover -->
            <div class="rm-cover">


                <!-- COVER PAGE -->
                <div id="home" class="rm-front page">

                    <!-- .antiscroll-wrap -->
                    <div class="antiscroll-wrap">
                        <!-- .antiscroll-inner -->
                        <div class="antiscroll-inner">



                            <!-- COVER IMAGE -->
                            <div class="cover">

                                <!-- cover-image-holder -->
                                <div class="cover-image-holder">
                                    <img src="~/Images/web/site/cover.jpg" alt="cover-image">
                                </div>
                                <!-- cover-image-holder -->
                                <!-- title -->
                                <h1>HOÀNG NAM</h1>
                                <!-- title -->
                                <!-- slogan -->
                                <h2>Lập trình viên tại ĐỊNH VỊ BÁCH KHOA</h2>
                                <!-- slogan -->
                                <!-- extra titles -->
                                <h3><span>Nơi sống </span> HẢI PHÒNG</h3>
                                <h3><span>Kỹ năng </span> thiết kế Website</h3>
                                <h3><span>Sở thích </span> tìm hiểu </h3>
                                <h3><span>FREELANCE</span> Available</h3>
                                <!-- extra titles --

                        <!-- open link -->
                                <a href="#/resume" class="rm-button-open ribbon">
                                    <span class="ribbon-stitches-top"></span>
                                    <strong class="ribbon-content">MỞ</strong>
                                    <span class="ribbon-stitches-bottom"></span>
                                </a>
                                <!-- open link -->
                                <!-- latest-from-blog -->
                                <div class="latest-from-blog">
                                    <h3>
                                        Blog của Nam
                                        <a class="button2" href="blog.html">BLOG</a>
                                    </h3>
                                    <div class="blog-bar">
                                        <h2><a href="blog-single.html">Runaway A Road Adventure</a></h2>
                                    </div>
                                </div>
                                <!-- latest-from-blog -->
                                <!-- widget : twitter -->
                                <aside class="widget widget-twitter">
                                    <a href="https://twitter.com/envato" class="twitter-link" target="_blank"></a>
                                    <div id="twitter-list"></div>
                                </aside>
                                <!-- widget : twitter -->


                            </div>
                            <!-- COVER IMAGE -->




                        </div>
                        <!-- .antiscroll-inner -->
                    </div>
                    <!-- .antiscroll-wrap -->
                </div>
                <!-- COVER PAGE -->

                @Html.Partial("_ResumePage")
            </div><!-- /rm-cover -->
          

            @Html.Partial("_PortfolioPage")

            <!-- RIGHT SIDE -->
            <div class="rm-right">



                <!-- .rm-front -->
                <div class="rm-front">

                    <!-- BACK COVER IMAGE -->
                    <div class="cover">

                        <!-- cover-image-holder -->
                        <div class="cover-image-holder">
                            <img src="~/Images/web/site/cover-2.jpg" alt="cover-image">
                        </div>
                        <!-- cover-image-holder -->

                    </div>
                    <!-- BACK COVER IMAGE -->

                </div>
                <!-- .rm-front -->
              

                @Html.Partial("_ContactPage")
            </div><!-- /rm-right -->
            <!-- RIGHT SIDE -->




        </div><!-- /rm-wrapper -->
    </div><!-- /rm-container -->
</section>