 <!-- Header Top -->
<div class="sns_header_top">
    <div class="container">
        <div class="sns_module">
            <div class="header-setting">
                <div class="module-setting">
                    <div class="mysetting language-switcher">
                        <div class="tongle">
                            <img alt="" src="~/Images/web/flag/english.png">
                            <span>English</span>
                        </div>
                        <div class="content">
                            <div class="language-switcher">
                                <ul id="select-language">
                                    <li>
                                        <a class="selected" href="index.html">
                                            <img alt="" src="~/Images/web/flag/english.png">
                                            <span>English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index2.html">
                                            <img alt="" src="~/Images/web/flag/brazil.png">
                                            <span>Brazil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index3.html">
                                            <img alt="" src="~/Images/web/flag/france.png">
                                            <span>France</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index4.html">
                                            <img alt="" src="~/Images/web/flag/russian.png">
                                            <span>Russian</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mysetting currency-switcher">
                        <div class="tongle">
                            <span class="gfont"> USD </span>
                        </div>
                        <div class="content">
                            <ul id="select-currency">
                                <li>
                                    <a href="#"> EUR </a>
                                </li>
                                <li>
                                    <a class="selected" href="#"> USD </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-account">
                <div class="myaccount">
                    <div class="tongle">
                        <i class="fa fa-user"></i>
                        <span>Tài khoản</span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="customer-ct content">
                        <ul class="links">
                            <li class="first">
                                <a class="top-link-myaccount" title="Đăng nhập" href="#">Đăng nhập</a>
                            </li>
                            @*<li>
                                    <a class="top-link-checkout" title="Checkout" href="#">Checkout</a>
                                </li>*@
                            <li class=" last">
                                <a class="top-link-login" title="Đăng ký tài khoản" href="/Web_Registry/SignUp">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Logo -->
<div id="sns_header_logo">
    <div class="container">
        <div class="container_in">
            <div class="row">
                <h1 id="logo" class="responsv col-md-3">
                    <a href="/" title="MD Photo">
                        <img alt="" src="~/Images/web/logo.jpg">
                    </a>
                </h1>
                <div class="col-md-9 policy">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-phone-12">
                            <div class="policy_custom">
                                <div class="policy-icon">
                                    <em class="fa fa-truck"> </em>
                                </div>
                                <p class="policy-titile">Vận chuyển toàn quốc</p>
                                <p class="policy-ct">Miễn phí vận chuyển với đơn hàng trên 500k </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-phone-12">
                            <div class="policy_custom">
                                <div class="policy-icon">
                                    <em class="fa fa-cloud-upload"> </em>
                                </div>
                                <p class="policy-titile">In ảnh đa dạng kích cỡ</p>
                                <p class="policy-ct"></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-phone-12">
                            <div class="policy_custom">
                                <div class="policy-icon">
                                    <em class="fa fa-gift"> </em>
                                </div>
                                <p class="policy-titile">Tặng thêm bộ card ngày tháng </p>
                                <p class="policy-ct">Khi mua trọn gói bộ album</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
