<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/web/logo/favicon.ico">
    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/bootstrap.min.css">
    <!-- icon font - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/web/stroke-gap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/web/icofont.css">
    <!-- animation - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/animate.css">
    <!-- carousel - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/web/slick-theme.css">
    <!-- popup - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/magnific-popup.css">
    <!-- jquery-ui - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/jquery-ui.css">
    <!-- select option - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/nice-select.css">
    <!-- custom - css include -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/style.css">
    <!-- custom - css include by Namhh -->
    <link rel="stylesheet" type="text/css" href="~/Content/web/custom.css">
</head>

<body>
    <!-- Facebook - start -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=229447871171083" nonce="BNts6vXw"></script>
    <!-- Facebook - end -->

    <!-- body_wrap - start -->
    <div class="body_wrap">
        @Html.Partial("Web_Menu")

        @RenderBody()

        @Html.Partial("Web_Footer")
    </div>
    <!-- body_wrap - end -->
    <!-- fraimwork - jquery include -->
    <script src="~/Scripts/web/jquery.min.js"></script>
    <script src="~/Scripts/web/popper.min.js"></script>
    <script src="~/Scripts/web/bootstrap.min.js"></script>
    <script src="~/Scripts/web/bootstrap5-dropdown-ml-hack.js"></script>
    <!-- carousel - jquery include -->
    <script src="~/Scripts/web/slick.min.js"></script>
    <!-- popup - jquery include -->
    <script src="~/Scripts/web/magnific-popup.min.js"></script>
    <!-- jquery-ui - jquery include -->
    <script src="~/Scripts/web/jquery-ui.js"></script>
    <!-- off canvas sidebar - jquery include -->
    <script src="~/Scripts/web/mCustomScrollbar.js"></script>
    <!-- select option - jquery include -->
    <script src="~/Scripts/web/nice-select.min.js"></script>
    <!-- countdown timer - jquery include -->
    <script src="~/Scripts/web/countdown.js"></script>
    <!-- counter up - jquery include -->
    <script src="~/Scripts/web/counterup.min.js"></script>
    <script src="~/Scripts/web/waypoints.min.js"></script>
    <!-- custom - jquery include -->
    <script src="~/Scripts/web/main.js"></script>
</body>
<!-- Mirrored from webthunder.net/html/getyootech/index_3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Nov 2023 03:23:58 GMT -->
</html>