
@{
    ViewBag.Title = "Liên hệ PC-SHOP";
    Layout = "~/Views/Shared/Web_MasterPage.cshtml";
}

<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Trang chủ</a></li>
            <li>Liên hệ</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- contact_section - start
================================================== -->
<section class="contact_section section_space">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <div class="contact_info_wrap">
                    <h3 class="contact_title">Địa chỉ</h3>
                    <p>
                        Quý khách có thể đến trải nghiệm và thiết kế không gian làm việc hay thử các sản phẩm của PC-SHOP tại cửa hàng tại
                    </p>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="contact_info_list">
                                <h4 class="list_title">Cửa hàng</h4>
                                <ul class="ul_li_block">
                                    <li>Số 21 Phạm Phú Thứ</li>
                                    <li>Hạ lý, Hồng Bàng, Hải Phòng</li>
                                    <li>Mở cửa từ <b>07:30 </b> đến <b>22:00</b> hàng ngày</li>
                                    <li>pc-shop@it-cloud.vn</li>
                                    <li>0986.000.685</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="contact_info_list">
                                <h4 class="list_title">Kho</h4>
                                <ul class="ul_li_block">
                                    <li>Số 19/108 Hoàng Quý</li>
                                    <li>Hồ Nam, Lê Chân, Hải Phòng</li>
                                    <li>Mở cửa từ <b>08:30 </b> đến <b>17:30</b> hàng ngày</li>
                                    <li>kho@it-cloud.vn</li>
                                    <li>0986.973.273</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="contact_info_wrap">
                    <h3 class="contact_title">Để lại thông tin liên lạc cho chúng tôi</h3>
                    <p>
                        Cần đặt hàng, mua hàng hoặc bất kì nội dung gì cần trao đổi với PC-SHOP. Chúng tôi luôn sẵn sàng lắng nghe bạn.
                    </p>
                    <form action="#">
                        <div class="form_item">
                            <input type="text" name="name" placeholder="Họ & Tên">
                        </div>
                        <div class="row">
                            <div class="col col-md-6 col-sm-6">
                                <div class="form_item">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col col-md-6 col-sm-6">
                                <div class="form_item">
                                    <input type="text" name="subject" placeholder="Tiêu đề">
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <textarea name="message" placeholder="Nội dung chi tiết"></textarea>
                        </div>
                        <button type="submit" class="btn btn_primary">Gửi cho PC-SHOP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact_section - end
================================================== -->
<!-- contact_section - start
================================================== -->
<div class="map_section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640.3153687466854!2d106.67427492652531!3d20.859616485499263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8782eebdfd72f9d3%3A0x8e6c912573dce966!2zQ8O0bmcgdHkgQ1AgRFYgdsOgIGdp4bqjaSBwaMOhcCBz4buRIEl0IGNsb3Vk!5e0!3m2!1svi!2s!4v1693214724564!5m2!1svi!2s" width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- contact_section - end
================================================== -->
